td{
	width: 150px;
	height: 150px;
	background-color: grey;
}

h1{
	font-family: Arial;
	color: grey;
}

table{
	margin: auto;
}
div{
	text-align: center;
}

/*html{
	background-color: orange;
}*/
/*.blue{
	background-color: blue;
}

.red{
	background-color: red;
}

.grey{
	background-color: grey;
}*/