body {
	background-image: url("gametime.jpg")
}

div{
	text-align: center;
}

table {
	background-color: white;
	margin: auto;
}

td{
	width: 150px;
	height: 150px;
	background-color: grey;
}

h1{
	border-radius: 20px;
	max-width: 300px;
	margin: auto;
}

h3 {
	border-radius: 20px;
	max-width: 200px;
	margin: auto;
}

h2 {
	border-radius: 80%;
	width: 100px;
	margin: auto;
	padding: 10px;
	padding-top: auto;
}

h2:hover{
	cursor: pointer;
}

h1, h2, h3 {
	font-family: Arial;
	color: midnightblue;
	background-color: white;
	line-height: 1.5em;
	border: 2px solid midnightblue;
}

#red{
	background-color: red;
	font-family: Arial;
	color: white;
	display: inline;
	width: 300px;
	font-size: 4em;
	height: 200px;
	border-radius: 10%;
	display: none;
}
#blue{
  background-color: blue;
  font-family: Arial;
	color: white;
	display: inline;
	width: 300px;
	font-size: 4em;
	height: 200px;
	border-radius: 10%;
	display: none;
}

p {   
  animation-duration: 300ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}